## Web scrapping de IMDB

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
# from splinter import Browser
import numpy as np

In [137]:
from fake_useragent import UserAgent
ua = UserAgent()
headers = {'User-Agent': ua.random}
url="https://www.elcorreo.com/temas/generales/accidentes-de-trafico.html"
response = requests.get(url, headers=headers)
html = response.content 
soup = bs(html, 'html.parser')
print(response)

<Response [200]>

In [154]:
# Para cada div, extraer el texto y el link
lista_titular = soup.find_all("h2")

titular = []

for div in lista_titular:
    # Extraer el texto
    texto = div.get_text()
    titular.append(texto)
    print(f'titular: {texto}')
    print('---')

titular =pd.DataFrame(titular)
titular.columns = ['titular']    

print(titular)

titular:
Para a consultar a una patrulla de la Ertzaintza en Bilbao y acaba atropellada por su propio coche

---
titular:
Cuatro hombres se pegan tras un accidente de tráfico y causan un atasco en Vitoria

---
titular:
Una colisión entre un camión y un coche obliga a cortar el acceso a la AP-1 en Armiñón

---
titular:
Una persona resulta herida en un accidente múltiple en La Avanzada

---
titular:
Un accidente en la entrada a Bilbao por San Mamés dificultó este domingo la circulación

---
titular:
Corte de carril en la autovía N-622 en Álava tras el accidente de un camión

---
titular:
3,7 millones por el atropello de un niño: la mayor indemnización jamás fijada por un accidente

---
titular:
Un herido al volcar su furgoneta en la AP-68 a su paso por Ribera Alta

---
titular:
Colisión entre tres vehículos en la A-8 a la altura de Barakaldo dirección Cantabria

---
titular:
Las víctimas de accidentes rechazan las enmiendas a la Ley sobre Responsabilidad Civil y Seguro en la Circulación de Vehículos

---
                                             titular
0  \nPara a consultar a una patrulla de la Ertzai...
1  \nCuatro hombres se pegan tras un accidente de...
2  \nUna colisión entre un camión y un coche obli...
3  \nUna persona resulta herida en un accidente m...
4  \nUn accidente en la entrada a Bilbao por San ...
5  \nCorte de carril en la autovía N-622 en Álava...
6  \n3,7 millones por el atropello de un niño: la...
7  \nUn herido al volcar su furgoneta en la AP-68...
8  \nColisión entre tres vehículos en la A-8 a la...
9  \nLas víctimas de accidentes rechazan las enmi...

In [159]:
lista_author = soup.find_all("span", class_="v-op__t")
author = []

for div in lista_author:
 # Extraer el autor del articulo
     autor = div.get_text()
     autor = autor.replace('Por ', '')
     author.append(autor)
     print(f'Autor: {autor}')
     print('---')

autor = pd.DataFrame(author)
autor.columns = ['Autor']

print(autor)

Autor:
H. Rodríguez

---
Autor:
David González

---
Autor:
Nuria Nuño

---
Autor:
Leire Moro

---
Autor:
Laura González

---
Autor:
Saioa Echeazarra

---
Autor:
Rocío Mendoza
 | Madrid

---
Autor:
Nuria Nuño

---
Autor:
L. Gil

---
Autor:
Canal Motor

---
                          Autor
0              \nH. Rodríguez\n
1            \nDavid González\n
2                \nNuria Nuño\n
3                \nLeire Moro\n
4            \nLaura González\n
5          \nSaioa Echeazarra\n
6  \nRocío Mendoza\n | Madrid\n
7                \nNuria Nuño\n
8                    \nL. Gil\n
9               \nCanal Motor\n

In [ ]:
lista_date = soup.find_all("p", class_="v-a-cro-t")
lista_date
# <span class="v-op__t">
# <a href="https://www.elcorreo.com/autor/david-gonzalez-176.html" title="David González">David González</a>
# </span>
for div in lista_date:
 # Extraer el autor del articulo
    date = div.get_text()
    dated = date.split("\n")[1]
    datet = date.split("\n")[2]
    print(f'Date: {dated}')
    print('---')
    print(f'Dated: {datet}')
    print('***')

[<p class="v-a-cro-t">
 19 may. 2025
 <span>00:20</span>
 </p>,
 <p class="v-a-cro-t">
 14 may. 2025
 <span>10:41</span>
 </p>,
 <p class="v-a-cro-t">
 12 may. 2025
 <span>11:51</span>
 </p>,
 <p class="v-a-cro-t">
 11 may. 2025
 <span>12:52</span>
 </p>,
 <p class="v-a-cro-t">
 10 may. 2025
 <span>08:45</span>
 </p>,
 <p class="v-a-cro-t">
 09 may. 2025
 <span>19:53</span>
 </p>,
 <p class="v-a-cro-t">
 09 may. 2025
 <span>15:55</span>
 </p>,
 <p class="v-a-cro-t">
 06 may. 2025
 <span>11:47</span>
 </p>,
 <p class="v-a-cro-t">
 06 may. 2025
 <span>01:17</span>
 </p>]